
.TaxPayer .Profile {
  display: flex;
  align-items: center;
}
.TaxPayer .Profile img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.TaxPayer .Profile .Name {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
}
