.ClientListRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  text-align: left;
  align-items: center;
  padding: 0.4em 1em;
  border-bottom: 0.4pt solid var(--gray01);
  transition: 0.2s;
}
.ClientListRow:hover{
  background-color: var(--gray01);
}
.ClientListRow .CheckBoxCell i.star{
  color: var(--gray04)!important;
}
.ClientListRow .CheckBoxCell i.star.yellow{
  color: var(--base2)!important;
}
.ClientListRow .CheckBoxCell input {
  padding-right: 4px;
  margin-right: 4px;
}
.ClientListRow .Name {
  width: 200px;
  margin-left: 1em;
}
.ClientListRow .Type {
  width: 50px;
  color: var(--gray03);
  font-weight: lighter;
}
.ClientListRow .Progress{
  width: 200px;
}
.ClientListRow .Progress .ClientProgressView{
  width: 65%;
}
.ClientListRow .FeedBack {
  width: 150px;
  font-size: 0.9em;
  font-weight: lighter;
  color: var(--gray04);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ClientListRow .Memo{
  font-weight: lighter;
  flex-grow: 1;
  font-size: 0.9em;
  color: var(--gray04);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ClientListRow .Preparer{
  text-align: right;
  flex-grow: 1;
  font-size: 0.9em;
  font-weight: lighter;
  color: var(--gray04);
}
