.MailListRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  text-align: left;
  align-items: center;
  padding: 0.4em 1em;
  border-bottom: 0.4pt solid var(--gray01);
  transition: 0.2s;
}
.MailListRow:hover{
  background-color: var(--gray01);
}
.MailListRow .CheckBoxCell i.star{
  color: var(--gray04)!important;
}
.MailListRow .CheckBoxCell i.star.yellow{
  color: var(--base2)!important;
}
.MailListRow .CheckBoxCell input {
  padding-right: 4px;
  margin-right: 4px;
}
.MailListRow .Name {
  width: 150px;
  margin-left: 1em;
}
.MailListRow .Type {
  width: 75px;
  color: var(--gray03);
  font-weight: lighter;
}
.MailListRow .Title {
  width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.MailListRow .Content {
  flex: 1;
  font-size: 0.9em;
  font-weight: lighter;
  color: var(--gray04);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.MailListRow .Date {
  text-align: right;
  font-size: 0.9em;
  font-weight: lighter;
  color: var(--gray04);
}
