

.OCRFileImageView{
  max-width: 1024px;
  max-height: 768px;
  height: 100%;
}

.OCRImageContainer {
  position: relative;
  width: 800px;
  height: 600px;
}
.OCRImageContainer .OCRImage {
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: block;
}

.OCRImageContainer .HighlightView {
  position: absolute;
  left: 0px;
  top: 0px;
}
