
.OCRLayout {
  display: flex;
  flex-direction: row;
}

.OCRSourceDocList {
  width: 150px;
  height: 100%;
  text-align: center;
  padding: 15px;
}
/*

*/
.OCRSourceDocList .loader{
  margin-right: 5px;
}
.OCRSourceDocList td{
  text-align: center;
}

.OCRSourceDocFileList {
  width: 100%;
  display: table;
}
/*
*/

.OCRAutoInputList {
  display: table-cell;
  width: 400px;
  height: 100%;
  vertical-align: top;
}
.OCRAutoInputList > table > tr {
  border-radius: 5px;
}
.OCRAutoInputList > table > .Highlightable:hover{
  box-shadow: 0px 0px 5px #118811;
}

.OCRAutoInputList > .ConfirmButton {
  width: 100%;
  margin: 10px auto;
}

.OCRAutoInputList .AutoInputResultTitle {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
}

.OCRAutoInputItem > td {
  padding: 5px 0px;
}
.OCRAutoInputItem .input {
  margin-top: 5px;
}
.OCRAutoInputItem .checkbox {
  vertical-align: middle;
}

.OCRAutoInputItem > .ButtonList > * {
  margin-right: 3px;
  margin-left: 1px;
}
