
.OCRLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.OCRSourceDocList {
  width: 150px;
  height: 100%;
  text-align: center;
  padding: 15px;
  margin-top: 15px;
}
/*

*/
.OCRSourceDocList .loader{
  margin-right: 5px;
}
.OCRSourceDocList td{
  text-align: center;
}

.OCRSourceDocFileList {
  width: 100%;
  display: table;
}
/*
*/

.OCRAutoInputList {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.OCRAutoInputList .Highlightable:hover{
  box-shadow: 0px 0px 5px #118811;
}

.OCRAutoInputList > .ConfirmButton {
  width: 100%;
  margin: 10px auto;
}

.OCRAutoInputList .AutoInputResultTitle {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
}
.OCRAutoInputList > .AutoInputItemList {
  overflow-y: scroll;
  flex: 1;
}

/*

*/

.OCRAutoInputItem {
  display: flex;
  margin: 15px 10px;
}

.OCRAutoInputItem > .Field {
  flex: 1;
}
