
.TaxOrganizer {
  height: calc(100% - 6rem);
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: center;
}
.TONavigator {
  width: 250px;
  margin-right: 4rem!important;
}
.TOContent {
  overflow-y: scroll;
  width: 50%;
}
.TOContent::-webkit-scrollbar {
    width: 6px;
    border: none;
    background-color: transparent;
}
.TOContent::-webkit-scrollbar-track {
    width: 6px;
    border: none;
    background-color: transparent;
}
.TOContent::-webkit-scrollbar-thumb {
    width: 6px;
    border: none;
    background-color: var(--gray03);
}
.TOSection {
  width: 700px;
  padding: 0.6rem 1rem;
  border-bottom: 1px solid var(--gray01);
  transition: 0.4s;
  cursor: pointer;
}
.TOSection:hover {
  background-color: var(--gray01);
  color: var(--base2);
}
.TOSection .FormGroup {
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.TOSection .SectionTitle {
  width: 100%;
  display: table-cell;
  font-size: 1.5rem;
  font-weight: bold;
  vertical-align: middle;
}
.TOSection .SectionDropdown {
  width: 50px;
  padding: 0px 10px 10px 0px;
  display: table-cell;
  cursor: pointer;
  vertical-align: middle;
}
.TOSection .SaveButton {
  width: 150px;
  margin: 10px auto;
}
