
.TOFileListInput .AddButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--base3);
  border-radius: 5px;
  color: white;
  padding: 0.8rem 0;
  transition: 0.4s;
  cursor: pointer;
}
.TOFileListInput .AddButton:hover {
  background-color: var(--baseDeep);
}
.ui.selection.dropdown.TOFileTypes {

}
.ui.form input.TOFileInput {
  width: 0;
  border: none;
}

.TOFileRow {
  width: 100%;
  display: flex;
  align-items: center;
}

.TOFileRow .TOFileInputTag {
  flex: 1;
}
.TOFileRow .TOFileInput {
  flex: 3;
}

.ui.icon.input.TOFileRow>i.circular.icon {

}
