

.TOFileListInput .AddButton {
  width: 100%;
}
.ui.selection.dropdown.TOFileTypes {

}
.ui.form input.TOFileInput {
  width: 0;
  border: none;
}

.TOFileRow {
  width: 100%;
  display: flex;
  align-items: center;
}

.TOFileRow .TOFileInputTag {
  flex: 1;
}
.TOFileRow .TOFileInput {
  flex: 3;
}

.ui.icon.input.TOFileRow>i.circular.icon {

}
