
.TOPopupForm > .Title {
  display: flex;

}


.TOPopupForm > .Title > p {
  flex: 1;
  margin: 0px;
  padding: 0px;
}

.TOPopupForm p.FieldLabel {
  font-size: 1.1em;
  padding: 5px;
  margin: 5px 0px 0px 0px;
}
