
.DashboardNavigation {
  width: 0px;
  height: 100%;
  display: table-cell;
  position: relative;
  vertical-align: top;
  padding-top: 50px;
}
.DashboardNavigation  tr > td {
  height: 50px;
  vertical-align: middle;
  text-align: center;
}

.DashboardNavigation  .FilterList > ul{
  list-style: none;
  display: table;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.DashboardNavigation .FilterList > ul > li {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
  width: 30px;
}

.DashboardNavigation > .FilterList > ul > li:last-child {
  padding-right: 0px;
}


.DashboardNavigation .EmailSearch {
  width: 300px;
  height: 40px;
  padding: 0px 10px;
  margin: 0 auto;
}
.DashboardNavigation .EmailSearch > .input  {
  width: 280px;
  padding-right: 10px;
}
