
.DashboardNavigation {
  width: 300px;
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: 0px;
  top: 70px;
  border: 1px solid black;
  overflow-y: scroll;
}

.DashboardNavigation > .FilterList > ul{
  list-style: none;
  display: table;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.DashboardNavigation > div {
  min-height: 50px;
}
.DashboardNavigation > .FilterList > ul > li {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
}

.DashboardNavigation > .FilterList > ul > li:last-child {
  padding-right: 0px;
}


.DashboardNavigation > .EmailSearch > .Input {
  display: block;
}
