
.SimpleClientList {
  list-style: none;
  display: table-cell;
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 0px;
  top: 340px;
  overflow-y: scroll;
}

.SimpleClientRow {
  display: table;
  width: 280px;
  padding: 5px;
  margin-left: 2px;
}
.SimpleClientRow > * {
  display: table-cell;
}
.SimpleClientRow > .ClientInformation {
  width: 100%;
  height: 50px;
  vertical-align: top;
}
.SimpleClientRow > .ClientInformation > p{
  margin: 0;
  padding: 0;
}

.SimpleClientRow > .ClientProfileImage {
  width: 50px;
  height: 50px;
  display: inline;
}

.SimpleClientRow > .ClientActionList {
  list-style: none;
  vertical-align: top;
  padding: 0;
  margin: 0;
  float: right;
}

.SimpleClientRow > .ClientActionList > li {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}
