
.StatisticsView {
  list-style: none;
  text-align: center;
  display: table;
  width: 900px;
  margin: 4em auto;
}

.StatisticsItem {
  width: 150px;
  height: 150px;
  list-style: none;
  display: table-cell;
  vertical-align: middle;
}
