
.DashboardNavigation {
  width: 340px;
  position: relative;
  overflow-x: hidden;
  display: table-cell;
  vertical-align: top;
  border-spacing: 0;
  transition: max-width 0.5s ease-in-out;
}


/*
  Navigation Title and close Button
*/
.DashboardNavigation .NavTitleCell {
  position: relative;
  display: block;
  text-align: center;
}
.DashboardNavigation .NavTitleCell table {
  height: 50px;
}
.DashboardNavigation .NavTitle {
  vertical-align: middle;
  width: 300px;
  display: table-cell;
}
.DashboardNavigation .NavCloseButton{
  position: absolute;
  right: 0px;
  height: 100%;
}



/*
  Navigation Buttons
*/
.DashboardNavigation .NavButtonList {
  border-spacing: 0px;
  padding: 10px;
}

.DashboardNavigation .NavButton {
  height: 50px;
  padding: 0px;
  margin: 0px;
}
.DashboardNavigation .segment {
  height: 100%;
  padding: 0;
}
.DashboardNavigation  tr > td {
  vertical-align: middle;
}


.DashboardNavigation .FilterList {
  width: 100%;
  display: table;
  border-spacing: 5px;
  margin: 20px 0 10px;
}
.DashboardNavigation .FilterList td {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.DashboardNavigation .FilterList p {
  max-width: 50px;
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
  padding-top: 5px;
  text-align: center;
}
.DashboardNavigation .FilterList i {
  width: 30px;
  max-width: 50px;
  height: 30px;
  font-size: 1.5rem;
  text-align: center;
  padding: 0 0 0 1px;
  margin: 0;
  transition: all .1s linear;
}
.DashboardNavigation .FilterList i:hover {
  font-size: 2rem;
}

.DashboardNavigation .EmailSearch {
  width: 300px;
  height: 40px;
  padding: 0px 10px;
  margin: 0 auto;
}
.DashboardNavigation .EmailSearch > .input  {
  width: 280px;
  padding-right: 10px;
}
