.Dashboard {
  display: flex;
  text-align: center;
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100vh - 22rem);
}
.DashboardContent {
  height: 100%;
  display: flex;
  flex-grow: 8;
}
.DashboardContent.ui.segment {
  border: none;
  height: 1000px;
}
#dashboard-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.InnerContent{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3em;
}
.Dashboard::-webkit-scrollbar {
    width: 6px;
    border: none;
    background-color: transparent;
}
.Dashboard::-webkit-scrollbar-track {
    width: 6px;
    border: none;
    background-color: transparent;
}
.Dashboard::-webkit-scrollbar-thumb {
    width: 6px;
    border: none;
    background-color: var(--gray03);
}
/*
  나중에 MailList.css로 옮겨야 할 것 같은 느낌?
*/
.InnerContent .Nav {
  border-bottom: 0.4em solid var(--gray02);
  height: 2em;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.InnerContent .Nav div {
  margin-right: 1em;
}
.InnerContent .Nav div:first-child {
  background-color: var(--gray02);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 2em;
  margin-right: 3em;
  padding: 0 0.8em 0 1em;
  display: flex;
  align-items: center;
}
.InnerContent .Nav i.GoTo {
  margin: -0.2em 0 0 2em;
  transition: 0.2s;
}
.InnerContent .Nav i.GoTo:hover {
  color: white
}
.InnerContent .Nav .PartitionV {
  width: 1px;
  height: 0.8em;
  background-color: var(--gray02);
}
.InnerContent .Nav .Group {
  opacity: 0.4;
  transition: 0.4s;
}
.InnerContent .Nav .Group:hover {
  opacity: 1;
}
.InnerContent .EmailListOuter {
  margin-bottom: 4em;
}
