.Dashboard {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: table;
  padding-top: 50px;
  border-spacing: 10px;
  text-align: center;
}

.DashboardContent > div {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow-y: scroll;
}
.DashboardContent {
  width: 100%;
  height: 100%;
  display: table-cell;
  position: relative;
  vertical-align: top;
  border-spacing: 10px;
}

.DashboardContent .NavCloseButton {
  position: absolute;
  left: 10px;
  top: 10px;
}

.DashboardContent .TodayTask {
  padding: 20px 0;
  text-align: center;
}


.ui.table.ClientList, .ui.table.MailList {
  width: 900px;
  margin: 50px auto;
}
.ClientListRow, .MailListRow {

}

.DashboardContent .checkbox{
  display: table-cell;
}
