.Dashboard {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: table;
  padding-top: 3.2em;
  text-align: center;
}

.DashboardContent > div {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow-y: scroll;
}
.DashboardContent {
  width: 100%;
  height: 100%;
  display: table-cell;
  position: relative;
  vertical-align: top;
  border-spacing: 10px;
}
.DashboardContent.ui.segment{
  border:none;
}

.DashboardContent .NavCloseButton {
  position: absolute;
  left: 20px;
  top: calc(1.8em - 7px);
  padding:0!important;
  background-color: transparent;
}

.DashboardContent .NavCloseButton:hover {
  background-color: transparent;
}

.DashboardContent .TodayTask {
  height: 3.6em;
  /*width: calc(100% - 260px);*/
  width:100%;
  z-index: 1;
  position: fixed;
  padding-top:1em;
  text-align: center;
  font-weight: bold;
  color: var(--baseDeep);
  background-color: var(--base);
}


.ui.table.ClientList, .ui.table.MailList {
  width: 900px;
  margin: 50px auto;
}
.ClientListRow, .MailListRow {

}

.DashboardContent .checkbox{
  display: table-cell;
}
