
.SimpleClientList {
  list-style: none;
  display: table-cell;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 285px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-top:2px solid var(--gray01);
  /*box-shadow: 0px 0px 1px 1px #bbbbbb;*/
}
.SimpleClientList::-webkit-scrollbar{
    width:3px;
    border:none;
    background-color: transparent;
}
.SimpleClientList::-webkit-scrollbar-track{
    width:3px;
    height:10px;
    border:none;
    background-color: transparent;
}
.SimpleClientList::-webkit-scrollbar-thumb{
    width:3px;
    border:none;
    background-color: var(--gray03);
}
.SimpleClientRow {
  display: table;
  width: 300px;
  height: 70px;
  border-spacing: 10px;
}
.SimpleClientRow > * {
  display: table-cell;
  vertical-align: middle;
}
.SimpleClientRow > .ClientInformation {
  width: 100%;
  vertical-align: top;
  text-align: left;
}
.SimpleClientRow > .ClientInformation > p{
  margin: 0;
  padding: 0;
}

.SimpleClientRow .ClientName {
  font-size: 1.2rem;
  font-weight: bold;
}
.SimpleClientRow .ClientSSN {
  color: lightgray;
  margin-bottom: 2px;
}

.SimpleClientRow > .ClientProfileImage {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
}

.SimpleClientRow > .ClientActionList {
  list-style: none;
  vertical-align: middle;
}

.SimpleClientRow > .ClientActionList td{
  cursor: pointer;
  font-size: 1.2rem;
  transition: background .2s linear;
  padding: 2px 0px 3px 3px;
  text-align: center;
  border-radius: 5px;
}
.SimpleClientRow > .ClientActionList td:hover{
  background: #dddddd;
}
